<!doctype html>
<html lang="en-US">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/css/main.css"/>
    <script src="/assets/js/index.js"></script>
    <title>James Muspratt</title>
 </head>

    <body>
        <div class="content">
            <div class="layer layer--1">   
                {{ content | safe }}
                </div>
            <div class="layer layer--2">   
                {{ content | safe }}
            </div>
        </div>
    </body>

</html>
