
:root {
    --c-white: #fff;
    --c-white-light: rgba(255,255,255, 0.6);
    --c-white-light-2: rgba(255,255,255, 0.3);
    --c-blue: blue;
}

body {
    /* font-family: monospace; */
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    background-color: var(--c-blue);
    line-height: 1.3;
    color: var(--c-white-light);
    max-width: 40em;
    padding: 1em;
}


@media (min-width: 700px) {
    body {
        padding: 3em;
    }
}

h1, h2,  p, ul, li {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 2em;
}
@media (min-width: 700px) {
    h1, h2,  p, ul, li {
        font-size: 18px;
    }
}

li {
    margin-bottom: 1em;
}

h1 {
    color: var(--c-white);
    font-weight: normal; 
}

a {
    color: var(--c-white);
    border-bottom: 1px solid var(--c-white-light-2);
    text-decoration: none;
    display: inline-block;
}


