
body, body * {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  color: var(--c-black);
  padding: 0;
  margin: 0;
  position: relative;
}


h1, h2, p, ul, li {
  @include fluid-type(400px, 1200px, 18px, 35px);
  font-weight: normal;
  margin-bottom: 0;
  text-indent: 2em;
}

p.last {
  margin-top: 1em;
  text-indent: 0;
}


ul {
  list-style: none;
}


a, a:link, a:visited {
  text-decoration: none;
  display: inline-block;
  text-indent: 0;
  // font-style: italic;
  // font-weight: bold;
  border-bottom: 1px solid gray;

}


.layer {
  position: relative;
  padding: 1em;
  line-height: 1.3;
  text-align: left;

  &--1 {
    background-color: var(--c-white);
    color: var(--c-black);
    font-family: $f-serif;
    position: relative;
    min-width: 100vw;
    min-height: 100vh;
    z-index: 2;

    a, a:link, a:visited {
    color: var(--c-black);
    }
  }

  &--2 {
    background-color: var(--c-black);
    font-family: $f-sans;
    color: var(--c-white);
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 3;
    a, a:link, a:visited {
    color: var(--c-white);
    }
  }
}


.content {
  min-height: 100vh;
  position: relative;
  padding-bottom: 100px;
}
