

body {
    background-color: $c-blue;
    color: $c-black;
    padding: 0;
    margin: 0;
    position: relative;
}


h1, h2, p, ul, li {
    @include fluid-type(400px, 1200px, 14px, 35px);
    font-weight: normal;
    margin-bottom: 0;
    text-indent: 2em;
}

p.last {
    margin-top: 1em;
    text-indent: 0;
}


ul {
    list-style: none;
}


a, a:link, a:visited {
    color: $c-black;
    color: $c-white;
    text-decoration: none;
    display: inline-block;
    text-indent: 0;

    &:hover {
        color: $c-black;
    }
}

ul + p {
    margin-top: 1em;
}

.layer {
    background-color: $c-blue;
    position: relative;
    padding: 1em;
    line-height: 1.3;
    text-align: left;
 
    &--1 {
        font-family: $f-serif;
        position: relative;
        min-width: 100vw;
        min-height: 100vh;
        z-index: 2;
    }

    &--2 {
        font-family: $f-sans;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        z-index: 3;
    }
}


.content {
    position: relative;
    max-width: 60em;
    padding-bottom: 100px;
}