
$c-blue: blue;
$c-white: #fff;
$c-white-light: rgba(255,255,255, 0.6);
$c-white-light-2: rgba(255,255,255, 0.3);
$c-gray: #888888;
$c-gray-light: #eaeaea;
$c-black: #000000;

$f-sans: helvetica, sans-serif;
$f-serif: georgia, serif;