@import 'partials/vars';

body {
    color: $c-gray;
    padding: 0;
    margin: 0;
    position: relative;
}

body *, body {
    box-sizing: border-box;
}


.content {
    position: relative;
    max-width: 50em;
    margin: 0 auto;
}

h1, h2,  p, ul, li {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 1em;
}
@media (min-width: 700px) {
    h1, h2,  p, ul, li {
        font-size: 21px;
    }
}

@media (min-width: 960px) {
    h1, h2,  p, ul, li {
        font-size: 24px;
    }
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin-bottom: 1em;
}

h1 {
    color: $c-black;
    font-weight: normal; 
}

a {
    color: $c-black;
    border-bottom: 1px solid $c-gray-light;
    text-decoration: none;
    display: inline-block;
}


.layer {
    background-color: $c-white;
    position: relative;
    padding: 1em;
    line-height: 1.3;
    text-align: left;
    
    @media (min-width: 700px) {
        padding: 3em;
    }
    &--1 {
        font-family: $f-serif;
        position: relative;
        z-index: 2;
    }

    &--2 {
        font-family: $f-sans;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        z-index: 3;
    }
}